body {
  font-family: 'Roboto';font-size: 16px;
} 

/* 
* Checkbox overwrite
*/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin: 0 5px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid grey;
}


/*
 * Vis elements theming
 */

.vis-background .hajo {
  color: rgb(51, 51, 51);
  background-color: rgba(128, 128, 128, 0.5);
}
.vis-background .prissi {
  color: rgb(0, 128, 255);
  background-color: rgba(153, 204, 255, 0.5);
}
.vis-background .jamespetts {
  color: rgb(255, 0, 0);
  background-color: rgba(255, 153, 153, 0.5);
}
.vis-background .himeshi {
  color: rgb(204, 153, 0);
  background-color: rgba(255, 255, 153, 0.5);
}
.vis-item.vis-box.milestone,  .milestone, .checkbox-container input:checked ~ .checkbox-milestone {
  background-color: rgb(153, 204, 255);
  border: 1px solid rgb(0, 128, 255);
}
.vis-item.vis-box.release, .release, .checkbox-container input:checked ~ .checkbox-release {
  background-color: rgb(153, 255, 153);
  border: 1px solid rgb(0, 255, 0);
}
.vis-item.vis-box.contributor, .contributor, .checkbox-container input:checked ~ .checkbox-contributor{
  background-color: rgb(255, 153, 153);
  border: 1px solid rgb(255, 0, 0);
}
.vis-item.vis-box.pakset, .pakset, .checkbox-container input:checked ~ .checkbox-pakset {
  background-color: rgb(255, 255, 153);
  border: 1px solid rgb(204, 204, 0);
}
.vis-item.vis-box {
  z-index: 15;
}
.vis-item.vis-line {
  z-index: 10;
}
.vis-item img {
  height: 30px;
}
.vis-item.vis-box.vis-selected, .vis-item.vis-line.vis-selected, .vis-item.vis-dot.vis-selected {
  background-color: rgb(255, 153, 255);
  border: 1px solid rgb(255, 0, 255);
  z-index: 20;
}
.vis-item.vis-dot.vis-selected {
  background-color: rgb(255, 153, 255);
  border: 4px solid rgb(255, 0, 255);
}
.vis-item.other {
  z-index: 15;
  background: none !important;
  color: grey !important;
  border-color: grey !important;
}


/*
 * Other minor styles
 */

.stack-button {
  padding: 0 4px;
}
